#spielfeld{
    position: relative;

    margin: auto;
    margin-top: 10%;

    background-color: deeppink;
}

#paddelLinks,
#paddelRechts{
    position: absolute;
    background-color: black;
}

#ball{
    position: absolute;
    background-color: gold;
}